{% extends 'base.html' %}
{% block content %}

<h3>Arquitetura de computadores, teste de ULA - Unidade Lógica e Aritmética</h3>
<br>
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.portaA.label(class="form-label h6") }}
  {{ form.portaA(class="form-control") }}
  {{ form.portaB.label(class="form-label h6") }}
  {{ form.portaB(class="form-control") }}
  {{ form.logicA.label(class="form-label h6") }}
  {{ form.logicA(class="form-control") }}
  {{ form.alarme.label(class="form-label h6") }}
  {{ form.alarme(class="form-control") }}
  {{ form.logicB.label(class="form-label h6") }}
  {{ form.logicB(class="form-control") }}
  <br>
  {{ form.submit(class="btn btn-primary") }}
</form>

<br><br>

{% if result %}
<img src="{{ url_for('static', filename='images/alarme.gif') }}" class="img-thumbnail" width="200" alt="200">
{% else %}
  {% if alarme %}
    <p>Alarme não disparou!</p>
  {% else %}
    <p>Alarme desligado</p>
  {% endif %}
{% endif %}

{% endblock %}